fastapi
uvicorn
langchain
langgraph
langchain-community
langchain-groq
chromadb
pandas
openpyxl
python-docx
python-pptx
pypdf
reportlab
python-multipart
python-dotenv
firebase-admin
pytesseract
pdf2image
Pillow
duckduckgo-search
langchain-huggingface
sentence-transformers
torch
pysqlite3-binary
reportlab>=4.0.0