fastapi
uvicorn
langchain
langgraph
langchain-community
langchain-groq
chromadb
python-docx
pypdf
python-multipart
python-dotenv
firebase-admin
pytesseract
pdf2image
Pillow
duckduckgo-search
python-pptx
openpyxl